*~
*.o
*.a
*.exe
*.elf
*.asc
*.bin
*.bit
*.json
*.svf
*.timings
*_out.config
*.000
*.vvp
*.dfu
*.rpt
*.blif
*.list
*.fs
*.txt
FIRMWARE/TOOLS/firmware_words
SIM/firmware.txt
SIM/DATARAM.hex
SIM/PROGROM.hex
SIM/obj_dir/*
INFO/BENCH/temp
