*~
*.o
*.a
*.exe
*.elf
*.asc
*.bin
*.bit
*.json
*.svf
*.timings
*_out.config
*.000
*.vvp
*.dfu
*.rpt
*.blif
*.list
*.txt
SIM/BOARDS/*
FIRMWARE/TOOLS/firmware_words
SIM/firmware.txt
SIM/DATARAM.hex
SIM/PROGROM.hex
SIM/HEX/*
SIM/obj_dir/*
INFO/BENCH/temp
RTL/PRIMER20k/impl/*
RTL/PRIMER25k/impl/*
RTL/PRIMER20k/src/DATARAM.hex
RTL/PRIMER20k/src/PROGROM.hex
RTL/PRIMER20k/src/GWDATARAM.hex
RTL/PRIMER20k/src/RAM.mif
RTL/PRIMER25k/src/DATARAM.hex
RTL/PRIMER25k/src/PROGROM.hex
RTL/PRIMER25k/src/GWDATARAM.hex
RTL/PRIMER25k/src/RAM.mif
RTL/DE10S/src/DATARAM.hex
RTL/DE10S/src/PROGROM.hex
RTL/DE10S/src/RAM.mif
RTL/PRIMER25k/src/*.v
!RLT/PRIMER25k/src/soc.cst
RTL/PRIMER25k/src/*.v
RTL/PRIMER25k/src/*.sv
RTL/PRIMER20k/src/*.v
RTL/PRIMER20k/src/*.sv
RTL/PRIMER25k/src/gowin_dpb/
RTL/DONE/primer20k/
RTL/DONE/primer25k/
TODO/*
INFO/BEN/
