*~
*.o
*.a
*.exe
*.elf
*.asc
*.bin
*.bit
*.json
*.svf
*.timings
*_out.config
*.000
*.hex
*.vvp
*.dfu
*.rpt
*.blif
*.list
*.fs
SIM/firmware.txt
FIRMWARE/TOOLS/firmware_words
SIM/obj_dir/*
/SIM/obj_dir/VSOC.cpp

