IO_LOC "CLK" E2;
IO_LOC "RESET" H11;
IO_PORT "RESET" PULL_MODE=DOWN DRIVE=OFF BANK_VCCIO=3.3;
IO_LOC "UART_TX"  F5;
IO_LOC "UART_CTS" H5;
//IO_LOC "E11" E11;

IO_LOC "LEDS[0]" G11;
IO_LOC "LEDS[1]" D11;
IO_LOC "LEDS[2]" B11;
IO_LOC "LEDS[3]" C11;
IO_LOC "LEDS[4]" G10;
IO_LOC "LEDS[5]" D10;
IO_LOC "LEDS[6]" B10;
IO_LOC "LEDS[7]" C10;
