IO_LOC "CLK" IOT27A;
IO_LOC "RESET" T10;

IO_LOC "LEDS[0]" C13;
IO_LOC "LEDS[1]" A13;
IO_LOC "LEDS[2]" N16;
IO_LOC "LEDS[3]" N14;
IO_LOC "LEDS[4]" L14;
IO_LOC "LEDS[5]" L16;

IO_LOC "UART_RX" T13;
IO_LOC "UART_TX" M11;

IO_PORT "UART_RX" IO_TYPE=LVCMOS33;
IO_PORT "UART_TX" IO_TYPE=LVCMOS33;
